# azure packages
azure-ai-inference==1.0.0b9
azure-ai-projects==1.0.0b6
azure-common==1.1.28
azure-core==1.32.0
azure-identity==1.20.0
azure-search-documents==11.6.0b9
msal==1.31.1
msal-extensions==1.2.0

# langchain
langchain
langchain-core
langchain-openai
langchain-community

# autogen packages
# autogen-agentchat

# openai
openai==1.63.2
tiktoken

# ml&dl packages
torch
transformers
mlflow

# data packages
pandas==2.2.3
numpy==2.2.3
matplotlib
pyarrow==19.0.1

# api packages
fastapi==0.115.8
uvicorn==0.34.0
starlette==0.41.3

# concurrency packages
asyncio
aiohttp
aiofiles==23.2.1

# notebook packages
jupyter==1.1.1
ipykernel==6.29.5

# other packages
python-dotenv==1.0.1
python-multipart==0.0.18
