#apis
fastapi
uvicorn

#vectordb
chromadb

#concurrency
asyncio
aiohttp
aiofiles

#notebooks
ipykernel

#data and viz
pandas
numpy
matplotlib

#management
python-dotenv

#images
Pillow
python-multipart

#ai
torch
transformers
